<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body style="background-color: white;">
    
<style>
  .btn-search{
    background-color: rgb(252, 96, 96);
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
    .btn-search:hover{
    background-color: rgb(252, 96, 96);
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search i {
    display: inline;
    margin-right: 0.4rem;

  }
  .search-inp{
      border-radius: 25px;
      padding: 0.5rem 3rem 0.5rem 3rem;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-sharp fa-regular fa-compass"></i></a>
      <button
       class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <b><a class="nav-link" href="/" >Home</a></b>
          <b><a class="nav-link" href="/listings">Explore</a></b>
        </div>
        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-inp" type="search" placeholder="Search Destinations"/>
            <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <b><a class="nav-link" href="/listings/new">Add new listing</a></b>
          <% if(!currUser) { %>
          <button class="btn btn-outline-info" style="height: 50px; width: 90px; border: solid black 2px;  border-radius: 5px;"><a class="nav-link" href="/Login">Login</a></button>&nbsp;&nbsp;   
          <button class="btn btn-outline-info" style="height: 50px; width: 90px;  border: solid black 2px;  border-radius: 5px; " ><a class="nav-link" href="/signup">SignUp</a></button>
          <% } %>
          <% if(currUser) { %>
          <a class="nav-link" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
    <h1 style="margin-left: 10px; text-align: center;">Welcome to Wanderlust</h1>
  <br>
  <br>
    <form action="/listings" style="margin-left: 10px; text-align: center;">
        <button class="btn btn-outline-info mb-6">Show all listings</button>
    </form>
    <br>
    <br>
    <form method="get" action="/listings/new" style="margin-left: 10px; text-align: center;">
        <button class="btn btn-outline-dark mb-6">Create new listing</button>
        
    </form>
    <br><br><br><br><br><br><br><br><br>
    <%- include("../includes/footer.ejs") %>
</body>
</html>
